{% extends 'dashboard/base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Bets</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <a href="{% url 'dashboard:bet-refresh' %}"><i class="fa fa-refresh fa-fw"></i> Refresh</a>
        <br/>
        <em>Last refreshed: {{ refresh_time }}</em>
        <br/>
        <br/>
        <p>Number of bet matches: {{ bet_matches|length }}</p>
        <hr/>
    </div>
</div>

<div class="row">
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Match</th>
                <th>Side</th>
                <th>Website</th>
                <th>Odd</th>
                <th>Bet fraction</th>
            </tr>
        </thead>
        <tbody>
{% for bet_match in bet_matches %}
            <tr class="odd gradeX">
                <td>{{ bet_match.summary }}</td>
                <td>{{ bet_match.side }}</td>
                <td>{{ bet_match.website }}</td>
                <td class="center">{{ bet_match.odd }}</td>
                <td class="center">{{ bet_match.bet_fraction }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
